@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url(./fontello.css);


/* 공통 */

*, *::before, *::after{
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    font-size: 1.4rem;
    color: #181818;
    background: #ccc;
}

/* 링크 스타일 */

a{
    color: inherit;
    text-decoration: none;       
}

/* 숨김 제목 및 숨김 컨텐츠 */
.a11y-hidden{
    background-color: tomato;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0,0 0)
}

.inner{
    max-width: 940px;
    margin: 0 auto;
}

/* .clearfix::after{
    content: "";
    clear: both;
    display: block; content는 inline요소이기 때문에 clear를 안먹음. clear는 block요소에만 먹는다.
}*/

/* 스타일링 */

/* 스킵 네비게이션 */
.skip-nav{
    display: none;
}


/* 헤더 */
.header{
    background: #fff;
    padding: 0 30px;
    position: relative;
    border-radius: 0 0 30px 30px/ 0 0 10px 10px;
}

/* 로고 */
.logo{
    position: absolute;
    top: 50px;
    left: 65px;
    margin: 0;
}

/* 안내 링크 목록 */

.member{
    margin: 0;
    text-align: right;
    list-style: none;
}

.member li{
    display: inline-block;
    padding: 2px 0;
}
.member a{
    display: inline-block;
    padding: 6px 0;
}

/* 네비게이션 */
.navigation{
    padding-bottom: 35px;
}
.menu{
    border-top: 2px solid currentColor;
    margin: 10px 0 0 0;
    padding-left: 0;
    list-style: none;
    height: 47px;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(
        to bottom,
        #ed8b2f 0%,
        #ef4e26 30%,
        #ef4e26 60%,
        #ed8b2f 100%);
    /* display: flex;
    justify-content: flex-end; */
    padding-left: 225px;
}
.menu-item{
    float: left;
    position: relative;
}
.menu-button{
    cursor: pointer;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 700;
    background: transparent;
    line-height: 45px;
    display: block;
    padding: 0 20px;
    border: 0;
    border-left: 2px solid rgba(255,255,255,0.5);
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
    /* padding: 13px 20px1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000
    border-left: 1px solid white;
    text-shadow: -1px 0 #181818, 0 1px #181818, 1px 0 #181818, 0 -1px #181818; */
}
.menu-act .menu-button{
    color: #ff0;
}
.menu-act .menu-button::after{
    content: "";
    display: block;
    border-top: 2px solid #000;
}
.sub-menu{
    padding-left: 0;
    list-style: none;
    margin: 0;
    position: absolute;
    white-space: nowrap;
    display: none;
}
.menu-act .sub-menu{
    display: inline-block;
}
.sub-menu li,a{
    display: inline-block;
}
/* :not(.menu-act) .sub-menu{
    display: none;
} */
.sub-menu a{
    padding: 8px 0;
    margin-right: 10px;
}
.sub-menu a::before{
    content: '\f192';
    font-family: 'fontello';
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
}
.sub-menu a:hover::before,
.sub-menu a:focus::before{
    content: '\e800';
}
.menu-act .sub-menu{
    display: block;
}
.sub-menu1, .sub-menu2, .sub-menu3{
    left: 0;
}
.sub-menu4, .sub-menu5, .sub-menu6{
    right: 0;
}

/* 텍스트 및 배경 애니메이션 - 비주얼 */

@keyframes textAni{
    0%{
        font-size: 12px;
        color: rgba(0,0,0,0);
        /* top: 0;
        left: 0; */
        transform: translate(0,0);
    }
    100%{
        font-size: 24px;
        color: rgba(0,0,0,1);
        /* top: 75px;
        left: 400px; */
        transform: translate(400px,75px);
    }
}

@keyframes bgAni{
    0%{
        opacity:1;

    }
    100%{
        opacity: 0;
    }
}

.visual{
    height: 120px;
    position: relative;
}

.visual::before, .visual::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    animation: bgAni 2000ms infinite alternate cubic-bezier(.17,.67,.83,.67);
}

.visual::before{
    background-image: url(./images/ani_flower_01.png),
                      url(./images/ani_flower_02.png);
    background-position: 0 -10px, 670px 0;
}
.visual::after{
    background-image: url(./images/ani_flower_03.png),
                      url(./images/ani_flower_04.png);
    background-position: 300px 0, 800px 0;
    animation-delay: 1000ms;
}
.visual-text{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation-name: textAni;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
    /* position: absolute; */
    width: 330px;
    
}
.main{
    background: skyblue;
    min-height: 450px;
    padding: 30px 15px;
    /* display: flex;
    justify-content: space-between; */
    overflow: hidden;
}
.group{
    margin: 0 15px;
}
.group1{
    background: tomato;
    width: 250px;
    float: left;
}
.group2{
    background: yellowgreen;
    width: 380px;
    float: left;
}
.group3{
    background: cyan;
    width: 190px;
    float: right;
}
.slogan{
    background: orange;
    height: 50px;
}
.footer{
    background: pink;
    height: 50px;
}